.all_login {
  border: 1px solid #bbb;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 100%;
  width: 100vw;
  height: 100vh;

  .logo {
    text-align: center;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    margin-bottom: 40px;
  }

  .login_id,
  .login_pw {
    display: flex;
    flex-direction: column;
    width: 533px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #bbb;
    font-size: 15px;
  }
  .login_btn {
    width: 533px;
    height: 50px;
    margin-top: 10px; /*위에 박스랑 거리*/
    margin-bottom: 50px;
    border-radius: 5px;
    color: white;
    background-color: #0095f6;
    font-size: 20px;
    border: 1px solid #bbb;

    &:disabled {
      background-color: #bfdffd;
    }
  }

  .forget {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
