#commentLists {
  position: relative;
  margin-right: 10px;
  .likebutton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    background: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png')
      no-repeat;
    background-size: 20px auto;
    border: 0px;
  }
  .btn {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
  }
}
