@mixin flex-direction($flex-direction, $justify) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
}

@mixin flex($justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin border($px, $color) {
  border: $px solid $color;
}

@mixin btnDefalut {
  width: 540px;
  height: 55px;
  margin: 30px auto 180px auto;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}
