@import '../../../styles/mixin.scss';

.nav {
  position: fixed;
  @include flex(flex, space-around, center);
  @include widhigh(100%, 60px);
  border-bottom: 1px solid #dbdbdb;
  background-color: #fafafa;
  z-index: 1;

  .nav_left {
    @include flex(flex, center, center);
    gap: 10px;

    .crossline {
      border-right: 2px solid black;

      .left_logo {
        @include widhigh(normal, 24px);
        padding-right: 20px;
      }
    }

    p {
      font-size: 40px;
      margin-top: -10px;
      font-family: 'Lobster';
      padding-left: 10px;
    }
  }

  .searcharea {
    @include flex(flex, center, center);
    @include widhigh(268px, 36px);
    border: 1px solid #efefef;
    border-radius: 10px;
    background-color: #efefef;

    img {
      @include widhigh(16px, normal);
      margin-left: 10px;
    }

    input {
      @include widhigh(100%, normal);
      border: none;
      background-color: #efefef;
    }
  }

  .nav_right {
    @include widhigh(170px, normal);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      @include widhigh(24px, normal);
    }
  }
}

@media (max-width: 830px) {
  .main_right {
    display: none;
  }

  .searcharea {
    display: none;
  }

  .feeds {
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.main {
  @include flex(flex, center, center);
  @include widhigh(100%, 9999px);
  background-color: #fafafa;
  border: 1px solid #dbdbdb;

  .main_box {
    @include flex(flex, space-between, normal);
    @include widhigh(821px, 9999px);
    .feeds {
      @include widhigh(470px, 9999px);
      margin-top: 100px;

      .article {
        @include widhigh(468px, 837px);
        border: 1px solid #dbdbdb;
        border-radius: 10px;
        background-color: #ffffff;

        .articlebox_head {
          @include flex(flex, space-around, center);
          @include widhigh(470px, 56px);
          border-bottom: 1px solid #dbdbdb;

          .nuggetaccountpic {
            @include widhigh(32px, normal);
            position: relative;
            left: -30px;
            border-radius: 100px;
          }

          .accountname {
            position: relative;
            left: -110px;
            top: -3px;
          }

          .menudots {
            @include widhigh(24px, 24px);
            position: relative;
            right: -20px;
          }
        }

        .feedpic {
          @include flex(flex, normal, center);
          @include widhigh(466px, 587px);
          overflow: hidden;
          border-bottom: 1px solid #dbdbdb;
        }

        .under_pic {
          @include flex(flex, space-between, center);
          @include widhigh(450px, 40px);
          padding: 0px 10px;

          .sticker {
            @include flex(flex, space-between, center);
            @include widhigh(90px, 40px);

            .left {
              @include widhigh(25px, 25px);
            }
          }

          .save {
            .left {
              @include widhigh(25px, 25px);
            }
          }
        }
        /*comment*/
        .position {
          display: flex;

          #form-commentInfo {
            @include widhigh(100%, 160px);
            #comment-count {
              padding: 0px 16px;
            }

            #comments {
              @include widhigh(468px, 5.5em);
              display: flex;
              flex-direction: column;
              overflow: scroll;

              &::-webkit-scrollbar{
                display: none;
              }

              .replyBox {
                display: flex;
                justify-content: space-between;
                margin: 0 16px;
              }

              .delete {
                width: 20px;
                height: 20px;
              }
            }

            .fix {
              @include flex(flex, space-between, normal);
              width: 469px;
              height: 45px;
              border-top: 1px solid #dbdbdb;

              #comment-input {
                width: 100%;
                height: 45px;
                border: none;
                margin-top: 0;
              }

              #submit {
                background-color: transparent;
                width: 5.5em;
                height: 45px;
                font-size: 15px;
                font-weight: bold;
                color: rgb(0, 128, 255);
                position: relative;
                border: none;
              }
            }
          }
        }
      }
    }

    .main_right {
      width: 319px;
      height: 801px;
      margin-top: 100px;

      .nowaccount {
        @include flex(flex, space-between, center);
        padding: 16px 0;

        .nownuggetaccountpic {
          width: 55px;
          border-radius: 100px;
        }

        .friends {
          position: relative;
          height: 30px;

          .friends_name {
            font-style: bold;
            font-weight: 900;
            height: 18px;
            padding-bottom: 2px;
          }

          .friendsnow {
            color: #bdbdbd;
          }
        }

        .follow {
          color: #0f9bf6;
          font-weight: 900;
        }
      }

      .pushfriendssmall {
        width: 321px;
        height: 240px;
        border: 1px solid #dbdbdb;
        border-radius: 5px;

        .push {
          @include flex(flex, space-between, center);
          position: relative;
          height: 18px;
          padding: 0px 16px;
          margin: 8px 0px;

          .pushtoyou,
          .seeAll {
            color: #8e8e8e;
            font-weight: 900;
          }
        }

        .pushfriends1 {
          @include flex(flex, space-around, normal);
          width: 100%;
          height: 200px;
          flex-direction: column;
          background-color: #fafafa;

          .friendsaccount_box {
            @include flex(flex, baseline, normal);
            width: 321px;
            height: 350px;
            flex-direction: column;
            overflow: scroll;

            &::-webkit-scrollbar {
              display: none;
            }

            .friendsaccount1 {
              @include flex(flex, baseline, center);
              padding: 8px 16px;

              .storycolor {
                @include flex(flex, center, center);
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid #fafafa;
                background: linear-gradient(
                  45deg,
                  rgb(255, 230, 0),
                  rgb(255, 0, 128) 80%
                );

                .nownuggetaccountpicpush {
                  position: relative;
                  width: 32px;
                  height: 32px;
                  border-radius: 100px;
                  border: 2px solid white;
                }
              }

              .friends1 {
                position: relative;
                height: 30px;
                margin-left: 15px;

                .friends_name {
                  font-style: bold;
                  font-weight: 900;
                  height: 18px;
                  padding-bottom: 2px;
                }

                .friendsnow {
                  color: #bdbdbd;
                }
              }
            }
          }
        }
      }

      .pushfriends {
        @include flex(flex, space-around, center);
        width: 100%;
        height: 200px;
        border: 1px solid #dbdbdb;
        flex-direction: column;
        border-radius: 5px;
        background-color: #fafafa;
        margin-top: 16px;

        .push {
          @include flex(flex, space-between, center);
          position: relative;
          height: 18px;
          padding: 0px 16px;
          margin: 8px 0px;

          .pushtoyou,
          .seeAll {
            color: #8e8e8e;
            font-weight: 900;
          }
        }

        .friendsaccount {
          @include flex(flex, space-between, center);
          padding: 8px 16px;

          .nownuggetaccountpicpush {
            position: relative;
            width: 32px;
            height: 32px;
            border-radius: 100px;
            border: 2px solid white;
          }

          .friends {
            position: relative;
            height: 30px;

            .friends_name {
              font-style: bold;
              font-weight: 900;
              height: 18px;
              padding-bottom: 2px;
            }

            .friendsnow {
              color: #bdbdbd;
            }
          }

          .follow {
            color: #0f9bf6;
            font-weight: 900;
          }
        }
      }
      ul {
        margin-top: 30px;
        li {
          float: left;
          font-size: 10px;
          color: #d1d1d1;
          margin: 10px;
          
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}
