@import '../mixin';

.feedContainer {
  margin-bottom: 20px;
}

.feedBox {
  border-radius: 8px;
  background-color: #fff;
  @include border(1px, #e9e9e9);
}
.user {
  display: flex;
  align-items: center;
  margin: 13px 0px 13px 20px;
}
.user__id__img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  border-radius: 50%;
}
.user__id {
  font-weight: 800;
}

.cat__img {
  width: 469px;
  padding: 0;
  object-fit: cover;
}

.bottombox__icons {
  height: 10px;
  @include flex(space-between, center);
  margin-top: 10px;
}
.bottombox__icons__left {
  margin-left: 15px;
}
.bottombox__likes {
  height: 80%;
}
.fa-comment {
  margin-right: 12px;
  margin-left: 12px;
}

.bottombox__icons__right {
  margin-right: 15px;
}

.bottombox__likes__first {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.meerrock__img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  border-radius: 50%;
}

.bottombox__likes__id,
.bottombox__likes__fourth {
  font-weight: 800;
}
.bottombox__likes__id {
  margin-right: 5px;
  margin-left: 5px;
}

.bottombox__likes__second,
.bottombox__likes__fourth {
  margin-left: 5px;
}

.contents,
.comments {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.contents__id,
.comments__id {
  margin-left: 20px;
  font-weight: 800;
}

.userName {
  margin-top: 7px;
  margin-left: 20px;
  font-weight: 800;
}

.contents__content,
.comments__content {
  margin-left: 5px;
}

.write {
  width: 100%;
  margin-top: 13px;
  /* height: 35px; */
  border-top: 1px solid #efefef;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.write__input {
  width: 380px;
  height: 45px;
  padding: 0;
  border: none;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  color: #8e8e8e;
}

.write__input:focus {
  outline: none;
}

.inner {
  @include flex(space-between, center);
  @include border(1px, #fafafa);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.fa-face-smile {
  margin-left: 10px;
}

.post {
  margin-right: 10px;
  border: none;
  background: none;
  color: #c8e3fb;
  font-weight: 600;
  cursor: pointer;
}

.postOn {
  margin-right: 10px;
  border: none;
  background: none;
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.time {
  margin-top: 6px;
  margin-left: 20px;
  color: #aaa;
  font-size: 11px;
}
