@import '../mixin';

.container {
  width: 1035px;
  height: 170vh;
  margin: auto;
  background-color: #fafafa;
  @include border(1px, #efefef);
  @include flex(center, center);

  .nav_container {
    position: fixed;
    top: 0;
    width: 1035px;
    height: 70px;
    background-color: #fff;
    @include flex(space-between, center);
    @include border(1px, #efefef);

    .fa-instagram {
      margin-right: 10px;
    }
    .instagram-logo {
      margin-left: 10px;
      font-family: 'Lobster', cursive;
      font-size: 22px;
      font-weight: 800;
    }

    .nav_left,
    .search-container,
    .nav_right {
      width: 100%;
      @include flex(center, center);
    }

    .search-container {
      left: 50%;
      /*교차축 방향 중앙 정렬*/
      align-items: center;
      width: 100%;
      // transform: translate(-50%);
    }

    .fa-search {
      color: #b7babc;
      font-size: 15px;
    }

    .search-bar {
      position: absolute;
      z-index: 1;
      width: 175px;
      height: 23px;
      border-radius: 3px;
      opacity: 1;
      background-color: #fafafa;
      @include border(1px, #e1e1e1);
      @include flex(center, center);
    }
    .search-bar__input {
      z-index: -1;
      width: 50px;
      margin-left: 10px;
      /*검색어가 길어졌을 때 오른쪽으로 자연스럽게 검색 되도록*/
      overflow: auto;
      border: none;
      background-color: #fafafa;
      font-size: 13px;
      text-align: center;
      /* 기본 search 디자인을 없앰 */
      -webkit-appearance: none;

      &:focus {
        width: 250px;
        outline: none;
        text-align: left;
      }
    }

    .fa-heart {
      position: relative;
      margin-right: 15px;
      margin-left: 15px;
    }

    .heart_notification {
      position: absolute;
      top: 13px;
      right: 7px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: tomato;
    }
  }

  .main_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 735px;
    margin: auto;
    margin-top: 100px;

    .section_1 {
      width: 470px;
      border-radius: 5px;
      background-color: #fff;
      @include border(1px, #e9e9e9);

      .user {
        display: flex;
        align-items: center;
        margin: 13px 0px 13px 20px;
      }
      .user__id__img {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        border-radius: 50%;
      }
      .user__id {
        font-weight: 800;
      }

      .cat__img {
        width: 469px;
        padding: 0;
        object-fit: cover;
      }

      .bottombox__icons {
        height: 10px;
        @include flex(space-between, center);
        margin-top: 10px;
      }
      .bottombox__icons__left {
        margin-left: 15px;
      }
      .bottombox__likes {
        height: 80%;
      }
      .fa-comment {
        margin-right: 12px;
        margin-left: 12px;
      }

      .bottombox__icons__right {
        margin-right: 15px;
      }

      .bottombox__likes__first {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .userName {
        font-weight: 800;
      }

      .newComment {
        margin-top: 7px;
        margin-left: 20px;
      }

      .meerrock__img {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        border-radius: 50%;
      }

      .bottombox__likes__id,
      .bottombox__likes__fourth {
        font-weight: 800;
      }
      .bottombox__likes__id {
        margin-right: 5px;
        margin-left: 5px;
      }

      .bottombox__likes__second,
      .bottombox__likes__fourth {
        margin-left: 5px;
      }

      .contents,
      .comments {
        display: flex;
        align-items: center;
        margin-top: 7px;
      }

      .contents__id,
      .comments__id {
        margin-left: 20px;
        font-weight: 800;
      }

      .contents__content,
      .comments__content {
        margin-left: 5px;
      }

      .write {
        width: 100%;
        margin-top: 13px;
        /* height: 35px; */
        border-top: 1px solid #efefef;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .write__input {
        width: 380px;
        height: 45px;
        padding: 0;
        border: none;
        /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
        color: #8e8e8e;
      }

      .write__input:focus {
        outline: none;
      }

      .inner {
        @include flex(space-between, center);
        @include border(1px, #fafafa);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .fa-face-smile {
        margin-left: 10px;
      }

      .post {
        margin-right: 10px;
        border: none;
        background: none;
        color: #c8e3fb;
        font-weight: 600;
        cursor: pointer;
      }

      .time {
        margin-top: 6px;
        margin-left: 20px;
        color: #aaa;
        font-size: 11px;
      }

      .comments__list {
        width: 100%;
      }
    }

    .section_2 {
      width: 230px;

      .my__id__box {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      .my__id {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 50%;
      }
      .my__id__name {
        font-weight: 800;
      }

      .story1,
      .story2,
      .story3,
      .story4 {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        @include border(2px, white);
      }

      .suggestion__see__all,
      .story__see__all {
        margin-right: 12px;
        color: #343434;
      }

      .story1__box,
      .story2__box,
      .story3__box,
      .story4__box {
        width: 100%;
        @include flex(flex-start, center);
        margin-right: 0px;
      }

      .story1__border__id,
      .story2__border__id,
      .story3__border__id,
      .story4__border__id {
        font-size: 13px;
        font-weight: 700;
      }

      .story1__border,
      .story2__border,
      .story3__border,
      .story4__border {
        width: 40px;
        height: 40px;
        margin: 10px 10px 6px 12px;
        border-radius: 50%;
        background: radial-gradient(
            circle farthest-corner at 32% 106%,
            #ffe17d 0%,
            #ffcd69 10%,
            #fa9137 28%,
            #eb4141 42%,
            transparent 82%
          ),
          linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
        @include flex(center, center);
      }

      .story__box {
        width: 230px;
        height: 200px;
        margin-top: 10px;
        overflow: scroll;
        background-color: #fff;
        @include border(2px, #efefef);
      }

      .suggestion__box {
        width: 230px;
        height: 215px;
        margin-top: 10px;
        @include border(2px, #efefef);

        background-color: #fff;
      }

      .suggestion__box__top,
      .story__box__top {
        @include flex(space-between, center);
      }

      .suggestion,
      .story,
      .suggestion__see__all,
      .story__see__all {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 700;
      }

      .story,
      .suggestion {
        margin-left: 12px;
        color: #b2b2b2;
      }

      .story1__border__info,
      .story2__border__info,
      .story3__border__info,
      .story4__border__info {
        display: block;
        align-items: center;
      }

      .story1__time,
      .story2__time,
      .story3__time,
      .story4__time {
        color: #adadad;
        font-size: 12px;
      }

      .flower,
      .macaron,
      .puppy {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include border(2px, white);
      }

      .flower__box,
      .macaron__box,
      .puppy__box {
        width: 100%;
        @include flex(flex-start, center);
        margin-right: 0px;
      }

      .flower__border,
      .macaron__border,
      .puppy__border {
        width: 45px;
        height: 45px;
        margin: 10px 10px 6px 12px;
        border-radius: 50%;
        // background: radial-gradient(
        //     circle farthest-corner at 32% 106%,
        //     #ffe17d 0%,
        //     #ffcd69 10%,
        //     #fa9137 28%,
        //     #eb4141 42%,
        //     transparent 82%
        //   ),
        //   linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
        @include flex(center, center);
      }

      .flower__border__info,
      .macaron__border__info,
      .puppy__border__info {
        display: block;
        align-items: center;
      }

      .flower__border__id,
      .macaron__border__id,
      .puppy__border__id {
        font-size: 13px;
        font-weight: 700;
      }
      .flower__suggested__for__you,
      .macaron__suggested__for__you,
      .puppy__suggested__for__you {
        color: #adadad;
        font-size: 12px;
      }

      .flower__follow,
      .macaron__follow,
      .puppy__follow {
        margin-left: 18px;
        color: #60b7f7;
        font-size: 12px;
        font-weight: 800;
      }

      .info,
      .info2,
      .copyright {
        flex-wrap: wrap;
        color: #cfcfcf;
        font-size: 11px;
        font-weight: 600;
      }

      .info {
        margin-top: 5px;
        margin-left: 5px;
      }

      .info2 {
        margin-top: 3px;
        margin-left: 5px;
      }

      .copyright {
        margin-top: 15px;
        margin-left: 5px;
      }

      .comments__list {
        border-radius: 5px;
        background-color: #fff;
      }
    }
  }
}
